@page "/register"
@using WORK.Models
@using WORK.Services
@inject CustomerService CustomerService

<div>
    <label>Username</label>
    <input @bind="newCustomer.Username" />
</div>

<div>
    <label>Password</label>
    <input type="password" @bind="newCustomer.Password" />
</div>

<div>
    <label>First Name</label>
    <input @bind="newCustomer.FirstName" />
</div>

<div>
    <label>Last Name</label>
    <input @bind="newCustomer.LastName" />
</div>

<div>
    <label>Email</label>
    <input type="email" @bind="newCustomer.Email" />
</div>

<button @onclick="RegisterCustomer">Register</button>

@code {
    private Customer newCustomer = new Customer();

    private async Task RegisterCustomer()
    {
        bool usernameTaken = await CustomerService.CheckUsernameExistsAsync(newCustomer.Username);

        if (usernameTaken)
        {
            Console.WriteLine("Username taken");
        }
        else
        {
            await CustomerService.AddCustomerAsync(newCustomer);
            newCustomer = new Customer();
        }
    }
}
